<!DOCTYPE html>
<html>
    {% include 'head.html' %}
    <body>
        <!-- user data for selected client ? -->
        <div class="container text-start p-3 w-75">
            <div class="mb-3 row">
                {% if client_data.items|length == 0 %}
                <h5 class="text-center">no data :(</h5>
                {% endif %}

                {% for key, value in client_data.items %}
                {% if key != "id" %}
                <label for="{{ key }}" class="col-sm-4 col-form-label fw-bold text-end">{{key|upper}}:</label>
                <div class="col-sm-8">
                    <input type="text" readonly class="form-control-plaintext" id="{{ key }}" value="{{ value }}">
                </div>
                {% endif %}

                {% endfor %}
                <a class="btn btn-dark mt-4" href="{% url 'index' %}"">Back</a>
            </div>
        </div>

        {% include 'scripts.html' %}
    </body>
</html>
