<!-- user data for selected client ? -->
<div class="container text-start p-3 w-75">
    <div class="mb-3 row">
        {% for key, value in client_data.items %}
        {% if key != "id" %}
        <label for="{{ key }}" class="col-sm-4 col-form-label fw-bold text-end">{{key|upper}}:</label>
        <div class="col-sm-8">
            <input type="text" readonly class="form-control-plaintext" id="{{ key }}" value="{{ value }}">
        </div>
        {% endif %}

        {% endfor %}
    </div>
</div>
