{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Bugs: Listen</title>
        <script src="{% static 'js/audiostream.js' %}" defer></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    </head>
    <body>
        <nav class="navbar text-light bg-dark mb-3">
            <div class="container-fluid">
                <a href="{% url 'index' %}" class="navbar-brand mb-0 h1 text-white">Listener <i class="fas fa-headphones"></i></a>
            </div>
        </nav>
    </body>
</html>
