{% extends 'base.html' %}

{% block body %}

<div class="container text-center">
    <div class="row justify-content-md-center">
        <div class="col-5">
            <select id="select_client" class="form-select form-select-sm" aria-label=".form-select-sm example" onclick="initialSocket.send('CLIENT LIST')" onchange="selectChanged(event)">
            </select>
            <button class="btn btn-dark mt-4" onclick="connect()">Connect</button>
            <button class="btn btn-danger mt-4" onclick="window.location.href='http://cjbug.limeparallelogram.uk/listener/'">Disconnect</button>
        </div>
    </div>
</div>

<div class="container text-start p-3 w-75">
    <div id="props_container" class="mb-3 row">
    </div>
</div>
{% endblock %}
